 body{
  background-color: #191d2b;
  
} 

.App{
 
  border: 1px solid #27AE60;
  box-shadow: 2px 2px 8px #27AE60;
  margin: 150px 30%; 
  padding: 50px;
  text-align: center;
  border-radius: 25px;
}
.App h1{
  color: #27AE60;
}
.App ul{
  list-style: "🔥" ;
  cursor: pointer;
  font-size: 22px;
  color: #27AE60 ;
  margin: 20px;
}
.App input{
  width: 200px;
  height: 40px;
  border-radius: 6px;
  margin: 20px;
}
.App button{
  display: block;
  margin: auto;
  width: 150px;
  height: 30px;
  border: 2px solid  #27ae60;
  border-radius: 6px;
  background-color: #191d2b;
  color: #27AE60;
  font-size: 20px;
  font-weight: 600;
}
.App ul li{
  word-wrap: break-word;

}
.diffstyle{
  list-style: "✅";
  text-decoration: line-through;
}
.div10{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .App {
    margin: 100px auto;
    padding: 30px;
  }

  .App input {
    width: 100%;
    height: 30px;
    border-radius: 6px;
    margin: 10px;
  }

  .App button {
    display: block;
    margin: auto;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
  }
}